vlan 1514
 name old vlan104 from VB1
!
vlan 1515
 name old vlan105 from VB1
!
vlan 1516
 name old vlan106 from VB1
!
interface Vlan1514
 description VLAN 1514 - old vlan104 from VB1
 mtu 9216
 ip address 10.151.104.4 255.255.255.0
 no ip redirects
 standby 1 ip 10.151.104.1
 standby 1 priority 90
 standby 1 preempt
!
interface Vlan1515
 description VLAN 1515 - old vlan105 from VB1
 mtu 9216
 ip address 10.151.105.4 255.255.255.0
 no ip redirects
 standby 1 ip 10.151.105.1
 standby 1 priority 90
 standby 1 preempt