vlan 1514
 name
!
vlan 1515
 name
!
vlan 1516
 name
!
interface Vlan1514
  no ip redirects
  ip address 10.151.104.2/24
  no ip port-unreachable
  ip router eigrp 24
  ip passive-interface eigrp 24
  hsrp 1
    preempt
    ip 10.151.104.1
  no shutdown
  mtu 9216
  description VLAN 1511 - old vlan104 from VB1
!
interface Vlan1515
  no ip redirects
  ip address 10.151.105.2/24
  no ip port-unreachable
  ip router eigrp 24
  ip passive-interface eigrp 24
  hsrp 1
    preempt
    ip 10.151.105.1
  no shutdown
  mtu 9216
  description VLAN 1511 - old vlan105 from VB1